<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HUDS</title>
    <style>
    
        body {
            margin: 0;
            padding: 0;
            width: 600px;
            height: 800px;
            font-family: sans-serif;
        }
        .large {
          font-size: 150%;
        }
        .weather {
          text-align: center;
        }
        .later {
          display: grid;
          grid-template-columns: 200px 200px 200px;
        }
        .later_box {
          /* border: 1px solid black; */
          padding: 4px;
          margin: 1px;
        }
        .wrapper {
          min-height: 100%;
          display: grid;
          grid-template-rows: 1fr auto;
        }
        footer {
          font-size: 70%;
        }
        h2 {
          padding-left: 10px;
        }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div>
        <h2>Now</h2>
        <div id="now">
            <div class="weather">
              <img src='{{ url_for('static', path="/images/" + weather.condition_icon + ".gif") }}' />
              <p class="large">{{weather.temperature}}°C</p>
              <p>{{weather.condition}}</p>
            </div>
        </div>
        <h2>Later</h2>
        <div class="later">
          {% for item in weather.forecasts %}
            <div class="weather later_box">
              <img src='{{ url_for('static', path="/images/" + item[1] + ".gif") }}' />
              <p>{{item[0]}}</p>
              <p>{{item[2]}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
      <footer>Generated at: {{generated_at}}</footer>
    </div>
  </body>
</html>